* {
    /* background: #222;  */
    /* color: lightgreen; */
    font-family: monospace;
    font-size: min(5vh, 5mm);
}

#logo {
    width: 64px;
}

#hanzi {
    border: 1px solid red;
}

#ctl {
    padding:0; 
    border:0; 
    margin:0; 
}

#ctl * {
    padding:0; 
    border:0; 
    margin:0; 
}

@media (max-width: 600px) {
    .navbar {
        display: none;
    }
}

button,#count {
    min-height: 5mm;
    max-height: 10mm;
}

#stat * {
    border: 1px solid #111;
}
